<section id="about" class="section about">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid w-100" src="assets/Untitled-3.jpg" alt="about image">
          
          
        </div>
        <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
            
            <h1>About Me</h1><br>
            <h4>Name: Jobayer Alam</h4><br>
            <h4>Date of Birth: 26.11.1996</h4><br>
            <h4>Address: Dhaka,Bangladesh</h4><br>
            <h4>Email:jobayeralam1289@gmail.com</h4><br>
            <h4>Phone: 01846599279</h4><br>
            <a href="https://drive.google.com/drive/u/0/folders/1MXoNhRPGwEgBsUDfX1pD7jSgMEz5yU4S" class="btn btn-info" role="button">Dawonload CV</a>
          </div>
        
      </div>
    </div>
  </section>
