<section id=" resume" class="section resume">
    <h1 class="header">Resume</h1><br><br>
<div class="card-deck">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">2016-2020</h2>
        <h3>Bachalor Degree</h3><br>
        <p class="card-text">Inistitute :Manarat International university</p>
        <p>Department : Computer Science</p>
        <p>CGPA : 3.42</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">2014-2015</h2>
        <h3>Higher Secondary</h3><br>
        <p class="card-text">Inistitute :Chowmuhani Govt. S.A College</p>
        <p>Group : Science</p>
        <p>GPA : 3.75</p>
      </div>
    </div>
    
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title-items-center">2013</h2>
        <h3>Higher School</h3><br>
        <p class="card-text">Inistitue :Rubir Hut Bongo Bondhu High Sechool</p>
        <p>Group : Science</p>
        <p>GPA : 4.69</p>
      </div>
    </div>
  </div>
</section>